server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          # путь к папке, где файлы настроек
          search-locations: file:///home/asya/IdeaProjects/my-configs/
  profiles:
    active: native # Используем локальную файловую систему вместо Git

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/ # Адрес сервера Eureka